@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: 0, 0%, 0%; /* Black */
    --primary-foreground: 0, 0%, 100%; /* White */
    --secondary: 0, 0%, 50%; /* Gray */
    --secondary-foreground: 0, 0%, 100%; /* White */
    --background: 0, 0%, 100%; /* White */
    --foreground: 0, 0%, 0%; /* Black */
}
